* {
    margin: 0%;
    padding: 0%;
}

:root {
    --color--yellow: #efda44;
    --color--violet: #fb78fe;
    --color--background: #0e575f;
    --color--home: #9dd5ff;
    --color--h1: #00377c;
}

html {
    background: #20dbd8;
}

.link {
    display: flex;
    justify-content: left;
    background: var(--color--background);
    padding: 30px;
}

.link a {
    padding-left: 30px;
    font-size: 30px;
    cursor: pointer;
}

.home {
    color: var(--color--home);
}

.home:hover {
    color: #d80a9a;
}

.marca {
    color: var(--color--yellow);
}

.marca:hover {
    color: green;
}

.as {
    color: var(--color--violet);
}

.as:hover {
    color: red;
}

h1 {
    padding: 10px;
    color: var(--color--h1);
}